<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (mission(); as missionRef) {
      <div>
        <h2 data-cy="missionDetailsHeading"><span jhiTranslate="spaceApp.mission.detail.title">Mission</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ missionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="spaceApp.mission.name">Name</span></dt>
          <dd>
            <span>{{ missionRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="spaceApp.mission.description">Description</span></dt>
          <dd>
            <span>{{ missionRef.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/mission', missionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
